[DatabaseService]
    ;
    ; ### Choose the DB
    ;

    ; PGSQL
    ; Uncomment these lines if you want to use PGSQL storage
    ; Change the connection string to your db details
    ;Type = "PGSQL"
    ;ConnectionString = "Server=localhost;Database=opensim;User Id=opensim; password=***;"