[Startup]

    ;# {region_info_source} {} {Where to load region from?} {filesystem web} filesystem
    ;; Determine where OpenSimulator looks for the files which tell it
    ;; which regions to server
    ; region_info_source = "filesystem"

    ;# {regionload_regionsdir} {region_info_source} {Location of file?} {} Regions
    ;; Determines where the region XML files are stored if you are loading
    ;; these from the filesystem.
    ;; Defaults to bin/Regions in your OpenSimulator installation directory
    ; regionload_regionsdir="C:\somewhere\xmlfiles\"